.work {
  background-image: linear-gradient(
      to left,
      rgba(201, 138, 64, 1) 60%,
      rgba(252, 252, 252, 0.5) 40%
    ),
    url(../../imgs/header.png);
}
.workHead {
  /* width: 508px; */
  font-weight: 800;
  font-size: 125px;
  line-height: 138.24px;
  font-family: "Sen", sans-serif;
}
.workText {
  color: #c98a40;
  width: 277px;
  height: 156px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  display: table-cell;
  vertical-align: bottom;
}
/* **************screens************* */

/* large screen*/
@media only screen and (max-width: 992px) {
  .workHead {
    font-size: 85px;
    padding-right: 31px;
  }
}
/* medium screen*/
@media only screen and (max-width: 768px) {
  .workHead {
    font-size: 40px;

    padding-right: 31px;
  }
  .workText {
    padding-left: 0 !important;
    font-size: 14px;
  }
}
/* small screen*/

@media only screen and (max-width: 576px) {
  .work {
    background-image: linear-gradient(
        to left,
        rgba(201, 138, 64, 1) 90%,
        rgba(252, 252, 252, 0.5) 10%
      ),
      url(../../imgs/header.png);
  }
  .workHead {
    font-size: 55px;
    width: 96%;
  }
  .workText {
    color: #fff;
    padding-left: 42px !important;
  }
}
